#body {
    background-image: url('../img/imani-bahati-LxVxPA1LOVM-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;

}